# ignore everything
*

# except for paths
!/**/

# ignore dotted files except for
*.*

# git repository and hidden files
!.*

# LyX files
!*.lyx

# fortran files
!*.f*

# fortran files with preprocessor
!*.F*

# shell scripts
!*.*sh

# repository documentation
!README

# repository licence
!LICENCE

# ignore directory file
.directory
